import styled from 'styled-components';

/* Above the Fold White Section */
export const WhiteHalf1 = styled.header`
  /* Work Section */
  .work {
    margin: 600px 0 10px 0;
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 500px;
  }
  
  /* Work Section Image */
  #work-header {
    margin-top: -350px;
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 220px;
    z-index: 1;
  }
  
  /* Work Section White Section */
  #white-half3 {
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 500px;
    background-color: white;
    z-index: 1;
  }
  
  #work-text {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  
  #work-text p {
    margin-top: -240px;
    font-family: 'Readex Pro', sans-serif;
    width: 200px;
  }
  
  /* Dropdown menu from Bootstrap */
  .dropdown-toggle {
    margin-bottom: 150px;
    padding: .5em;
    width: 270px;
    font-family: 'Chango', cursive;
    background-color: var(--pink);
    color: white;
    border-radius: 5em;
  }
  
  .dropdown-toggle:hover {
    font-family: 'Chango', cursive;
    background-color: var(--blue);
    color: white;
  }
  
  .dropdown-item {
    font-family: 'Readex Pro', sans-serif;
    color: black;
    line-height: 1.2em;
    text-decoration: none;
  }
  
  .dropdown-menu {
    position: absolute;
    border: solid 2px var(--blue);
    margin: 5px;
    padding: 5px;
    flex-direction: column;
  }
  
  .dropdown-item:hover {
    font-family: 'Readex Pro', sans-serif;
    color:var(--pink);
    font-weight: 900;
    text-decoration: none;
  }
  
  a {
    font-family: 'Chango', cursive;
  }
  
  #work-square {
    position: absolute;
    margin-top: -20px;
    left: -15px;
    width: 105px;
    height: 105px; 
    background-color: var(--pink); 
  }
  
  #work-triangle {
    position: absolute;
    margin-top: 30px;
    right: 50px;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid var(--blue);
  }
  
  #work-circle {
    position: absolute;
    margin-top: -30px;
    right: -10px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: var(--yellow);
  }
  
  #work-square a,
  #work-circle a,
  #work-triangle a {
    font-size: 1.3em;
    font-family: 'Homemade Apple', cursive;
    color: black;
    text-decoration: none;
  }
  
  /* The font gets bigger when the user hovers over the link */
  #work-square a:hover,
  #work-circle a:hover,
  #work-triangle a:hover {
    font-size: 2.5em;
    font-family: 'Homemade Apple', cursive;
    color: black;
  }
  
  /* Work Section Black Section */
  #black-half3 {
    display: flex;
    position: absolute;
    flex-direction: row;
    flex-wrap: wrap;
    right: 0;
    width: 65%;
    height: 500px;
    justify-content: center;
    background: black url("../assets/images/black-paint.png") repeat;
    z-index: -1;
  }
  
  /* yellow triangle is stationary */
  #yellow-triangle {
    display: flex;
    position: absolute;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    width: 0;
    height: 0;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-bottom: 300px solid var(--yellow);
  }
  
  /* blue triangle spins */
  #blue-triangle {
    display: flex;
    position: absolute;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    width: 0;
    height: 0;
    opacity: .72;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-bottom: 300px solid var(--blue);
    -webkit-animation: rescale 1s infinite;
    animation: rescale 5s infinite;
  }
  
  /* pink triangle spins */
  #pink-triangle {
    display: flex;
    position: absolute;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    width: 0;
    height: 0;
    opacity: .82;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-bottom: 300px solid var(--pink);
    -webkit-animation: rescale 1s infinite;
    animation: rescale 3s infinite;
  }
  
  /* Animation for the Triangles */
  @-webkit-keyframes rescale {
    0% {transform:rotate(0deg);}
    10% {transform:rotate(36deg);}
    20% {transform:rotate(72deg);}
    30% {transform:rotate(108deg);}
    40% {transform:rotate(144deg);}
    50% {transform:rotate(180deg);}
    60% {transform:rotate(216deg);}
    70% {transform:rotate(252deg);}
    80% {transform:rotate(288deg);}
    90% {transform:rotate(334deg);}
    100% {transform:rotate(360deg);}
  }
  
  @keyframes rescale {
    0% {transform:rotate(0deg);}
    10% {transform:rotate(36deg);}
    20% {transform:rotate(72deg);}
    30% {transform:rotate(108deg);}
    40% {transform:rotate(144deg);}
    50% {transform:rotate(180deg);}
    60% {transform:rotate(216deg);}
    70% {transform:rotate(252deg);}
    80% {transform:rotate(288deg);}
    90% {transform:rotate(334deg);}
    100% {transform:rotate(360deg);}
  }
  
  /* After the user selects a project to view, the triangles change to a gif of the project */
  #project-gif {
    display: flex;
    margin: 7%;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: auto;
    border-radius: 3em;
    z-index: 1;
  }
