* {
    margin: 0;
    padding: 0;
  }
  
  :root {
    --pink: #E409AC;
    --yellow: #FFC60A;
    --blue: #00B1FD;
  }
  
  body {
    background-color: white;
  }
  
  main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
  
  #title {
    font-family: 'Chango', cursive;
  }
  
  /* Above the Fold White Section */
  #white-half1 {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    height: 500px;
    margin-bottom: 5px;
    justify-content: center;
    background-color: white;
  }
  
  /* blue square is stationary */
  #blue-square {
    position: absolute;
    margin-top: 135px;
    width: 300px;
    height: 300px; 
    background-color: var(--blue);
    justify-content: center;
    align-content: center;
  }
  
  /* yellow square is faster */
  #yellow-square {
    position: absolute;
    margin-top: 135px;
    width: 300px;
    height: 300px; 
    background-color: var(--yellow);
    opacity: 0.75;
    justify-content: center;
    align-content: center;
    -webkit-animation: rescale 2s infinite;
    animation: rescale 2s infinite;
  }
  
  /* pink square is slower */
  #pink-square {
    position: absolute;
    margin-top: 135px;
    width: 300px;
    height: 300px; 
    background-color: var(--pink);
    opacity: 0.83;
    justify-content: center;
    align-content: center;
    -webkit-animation: rescale 1s infinite;
    animation: rescale 4s infinite;
  }
  
  /* Animation for the Squares */
  @-webkit-keyframes rescale {
    0% {transform:rotate(0deg);}
    10% {transform:rotate(36deg);}
    20% {transform:rotate(72deg);}
    30% {transform:rotate(108deg);}
    40% {transform:rotate(144deg);}
    50% {transform:rotate(180deg);}
    60% {transform:rotate(216deg);}
    70% {transform:rotate(252deg);}
    80% {transform:rotate(288deg);}
    90% {transform:rotate(334deg);}
    100% {transform:rotate(360deg);}
  }
  
  /* Animation for the Squares */
  @keyframes rescale {
    0% {transform:rotate(0deg);}
    10% {transform:rotate(36deg);}
    20% {transform:rotate(72deg);}
    30% {transform:rotate(108deg);}
    40% {transform:rotate(144deg);}
    50% {transform:rotate(180deg);}
    60% {transform:rotate(216deg);}
    70% {transform:rotate(252deg);}
    80% {transform:rotate(288deg);}
    90% {transform:rotate(334deg);}
    100% {transform:rotate(360deg);}
  }